##encoding: utf-8
<%inherit file="/base.html"/>

<%block name="nav">
    <a href="/example?category=ia&temp=example">example</a>
</%block>

<%block name="content">
	<h1>this is ia mid example</h1>

    <h2>心得</h2>
    <%block name="report">
    </%block>

	<h2>Vedio</h2>
    <%block name="vedio">
        this is the vedio
    </%block>

</%block>