##encoding: utf-8
<%inherit file="base.html"/>

<%block name="title">
	${category} - ${temp}
</%block>

<%block name="vedio">
	<iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/S7qa8CO9Bq8?rel=0" frameborder="0" allowfullscreen></iframe>
</%block>

<%block name="img">
	<img src="/kmol/${category}/${temp}/${temp}.png" width="400" height="400" alt="img is lost">
</%block>

<%block name="file">
	<a href="/kmol/${category}/${temp}/${temp}.slvs">solvespace part - ${temp}.slvs</a>
</%block>